@import "styles/style.scss";

.c-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $global-spacing-unit-large $global-spacing-unit-medium 0
    $global-spacing-unit-medium;
  height: auto;

  @include mq($from: tablet-landscape) {
    flex-direction: row;
    padding: $global-spacing-unit-huge $global-spacing-unit-large 0
      $global-spacing-unit-large;
    height: 100vh;
  }

  &__image {
    width: 100%;

    @include mq($from: tablet-landscape) {
      width: 50%;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: $global-spacing-unit-small;

    @include mq($from: tablet-landscape) {
      width: 50%;
    }

    &-title {
      margin-bottom: $global-spacing-unit-tiny;

      @include mq($from: tablet-landscape) {
        margin-bottom: $global-spacing-unit-small;
      }
    }

    &-login {
      margin-top: $global-spacing-unit-medium;
    }

    &-register {
      &-divider {
        display: flex;
        align-items: center;

        &-line {
          width: 100%;
          height: 1px;
          background-color: $color-neutral-medium;
        }

        &-text {
          color: $color-neutral-dark;
          font-size: $font-size-xxs;
          margin: $global-spacing-unit-medium $global-spacing-unit-tiny;
        }
      }

      &-cta {
        cursor: pointer;
        font-size: $font-size-xxs;
        text-align: center;

        &--primary {
          color: $color-brand-primary-medium;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}
