@import "styles/style.scss";

.c-dashboard {
  padding: $global-spacing-unit-medium;

  &__title {
    //margin-bottom: $global-spacing-unit-medium;

    &:last-of-type {
      margin-top: $global-spacing-unit-medium;
    }
  }

  &__qrcodes {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    padding: $global-spacing-unit-medium $global-spacing-unit-tiny;

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: #ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #929292;
      border-radius: 10px;
      border: 3px solid #ffffff;
    }

    &-item {
      margin-right: $global-spacing-unit-large;
    }
  }
}
