@import "styles/style.scss";

.c-user-tickets-step {
  padding: $global-spacing-unit-tiny $global-spacing-unit-small;

  &__title {
    font-size: $font-size-sm;
  }

  &__users {
    &-item {
      margin-bottom: $global-spacing-unit-medium;

      &:last-of-type {
        margin-bottom: 0;
      }

      &-title {
        font-weight: $font-weight-bold;
        font-size: $font-size-xxs;
      }
    }
  }
}
