@import "styles/style.scss";

.c-step-footer {
  display: flex;
  align-items: center;
  padding: 0 $global-spacing-unit-small;
  margin-top: $global-spacing-unit-small;
  margin-bottom: $global-spacing-unit-medium;
  justify-content: space-between;

  &__back {
    margin-left: $global-spacing-unit-large;
    font-size: $font-size-xxs;
    margin-bottom: 0;
    text-align: center;
    cursor: pointer;
  }

  &__next {
    width: 150px;
  }
}
